body{
  font-family: Arial;
  background:#f2f2f2;
}

#chat{
  border:1px solid #ccc;
  height:300px;
  overflow:auto;
  background:white;
  padding:10px;
}

input, select{
  margin:5px;
  padding:5px;
}

button{
  background:#007bff;
  color:white;
  border:none;
  padding:6px;
}
