<!DOCTYPE html>
<html>
<head>
<title>Chat App</title>

<link rel="stylesheet"
href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">

<link rel="stylesheet" href="/public/css/style.css">
</head>

<body class="container mt-3">

<h3>Welcome: <span id="user"></span></h3>

<select id="room" class="form-control w-25">
 <option>devops</option>
 <option>cloud computing</option>
 <option>covid19</option>
 <option>sports</option>
 <option>nodeJS</option>
</select>

<button class="btn btn-success mt-2" onclick="joinRoom()">Join Room</button>
<button class="btn btn-danger mt-2" onclick="leaveRoom()">Leave</button>
<button class="btn btn-dark mt-2" onclick="logout()">Logout</button>

<hr>

<div id="typing" class="text-danger"></div>

<div id="chat" class="border p-2" style="height:300px;overflow:auto"></div>

<input id="msg" class="form-control mt-2">
<button class="btn btn-primary mt-2" onclick="sendMessage()">Send</button>

<script src="/socket.io/socket.io.js"></script>
<script src="/public/js/chat.js"></script>

<script>
user.innerText = localStorage.getItem("user");
</script>

</body>
</html>
